
<!-- Masthead -->
<div class="row">
	<div class="container">

		<header>
			<div class="col-xs-12 col-md-6 pull-left">
				<a href="{homepage}"><h1><img src="/assets/img/layout/gontour_logo.png" class="img-responsive" /></h1></a>
			</div>
			<div class="col-xs-12 col-md-4 text-right tel pull-right">
				<address>
					<p>{lv_telephone_uk}
					<br />{lv_telephone_usa}
					<br /><a href="mailto:{lv_emailaddress}">{lv_emailaddress}</a></p>
				</address>
			</div>
		</header>

	</div>
</div><!-- / end of row 1 -->

<!-- Navigation -->
<div class="row ">
	<div class="navbar navbar-default" role="navigation">
		<div class="container">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav">
						<li {if segment_1 == "" }class="active" {/if}><a href="{homepage}">Home</a></li>
						<li class="dropdown {if segment_1 == "destinations" }active{/if}"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Destinations <b class="caret"></b></a>
							<ul class="dropdown-menu">
								{exp:gwcode_categories style="linear" group_id="3" entry_count="yes" depth="1" parse="inward" show_empty="yes" }
								<li><a href="{path="destinations/category/{cat_url_title}"}">{cat_name}</a></li>
								{/exp:gwcode_categories}
							</ul>
						</li>
						<li class="dropdown {if segment_1 == "tours" }active{/if}">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Tours <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="{path=/tours}">All Types</a></li>
								{exp:channel:categories channel="tours" category_group="2"  style="linear"}
								<li><a href="{path=/tours/}">{category_name}</a></li>
								{/exp:channel:categories}
							</ul>
						</li>
						<li {if segment_1 == "blog" }class="active" {/if}><a href="{path=/blog}">Press</a></li>
						<li {if segment_1 == "offers" }class="active" {/if}><a href="{path=/offers}">Offers</a></li>
						<li {if segment_1 == "faqs" }class="active" {/if}><a href="{path=/faqs}">FAQ's</a></li>
						<li {if segment_1 == "about" }class="active" {/if}><a href="{path=/about}">About</a></li>
						<li {if segment_1 == "contact" }class="active" {/if}><a href="{path=/contact}">Contact</a></li>
					</ul><!-- / end of main nav -->
				</div>
			</div><!-- / end navbar-header -->
		</div>
	</div>
</div>