{embed="includes/metadata"}
{embed="includes/masthead"}



        <section class="row white">
            <section class="col-lg-12">
            	 <div class="page-header">
                    <h1>Recipes <small>From our kitchen to yours</small></h1>
                </div>
                <section class="row">
                    <section class="col-xs-12 col-lg-9">

                    </section>
                   <section class="col-xs-12 col-lg-3 camel bottpadd">
                        {ideas}
                        {newsletter}
                   </section>

                </section>

            </section>
        </section>
{lv_footer}