{exp:gwcode_haschildren:check cat_url_title="{segment_3}"}

{embed="includes/metadata"}
{embed="includes/masthead"}

{exp:md_detect_page_type url_segment="{segment_2}"}
{if category_page}

	{exp:channel:category_heading channel="tours" }
	{if category_image}
	<div class="row">
		<div class="col-xs-12 col-lg-12">
			<img src="{category_image}" class="img-responsive" alt="" />
		</div>
	</div>
	{/if}

	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<div class="page-header">
					<h1>{category_name} <small>Destinations</small></h1>
				</div>


				{if category_description}
				<div class="row">
					<div class="col-md-12">
						<p>{category_description}</p>
					</div>
				</div>
				{/if}

				<div class="row">
					{if cuisine-description}
					<div class="col-md-3 pull-right">
						<h2>Cuisine</h2>
						<p>{cuisine-description}</p>
					</div>
					{/if}
	{/exp:channel:category_heading}

				{if gwcode_haschildren}

					{exp:gwcode_categories cat_url_title="{segment_3}" depth="2" entry_count="yes" style="linear" parse="inward" show_empty="yes" }
						<div class="col-md-12">
							<hr class="half-margins" /><!-- hr line -->
							<h2><a href="{path="destinations/category/{cat_url_title}"}" title="{title}">{cat_name} <small>slogan or subtitle</small></a></h2>
							<a href="{path="destinations/category/{cat_url_title}"}" title="{title}"><img src="{cat_image}" class="img-responsive mb30" alt="" /></a>
							<p>{cat_description}</p>
						</div>
					{/exp:gwcode_categories}

				{if:else}
					<div class="col-md-8">
						<h2>Current Tours</h2>

						<div class="row">
						{exp:channel:entries channel="tours"  orderby="date" sort="asc" status="open|featured"  }
							{if no_results}
							<div class="col-xs-12 col-md-12">
								<p>Sorry there are currently no tours avilable to this destination.</p>
							</div>
							{/if}
							<div class="col-md-4">
                              				<div class="feature">
                                  				<div class="img-overlay wrapper">
										{exp:ce_img:single src="{tour-summary_image}" class="img-responsive" }
										<div class="item-img-overlay">
											<div class="item_img_overlay_content">
												<a href="#" data-rel="prettyPhoto[portfolio]" title="Title goes here"><i class="fa fa-search"></i></a>
												<a href="{title_permalink=tours/view}"><i class="fa fa-link"></i></a>
											</div>
										</div>
									</div>
									<div class="feature-content">
                                      					<h3><a href="{title_permalink=tours/view}">{title}</a></h3>
                                						<ul>
	                                      				{tour-summary}
	                                      				<li><!-- <i class="fa-li fa fa-asterisk"></i> -->{item}</li>
	                                      				{/tour-summary}
                                						</ul>
                                  				</div>
                              				</div>
                          				</div>
						{/exp:channel:entries}
						</div>
					</div>

				{/if}


{if:else}



	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<div class="page-header">
					<h1>Destinations <small>Subtext for header</small></h1>
				</div>

				<div class="row">
					<div class="col-xs-12 col-md-12">
						<!-- Map -->
						<div id="map-continents">
							<ul class="continents">
								<li class="c1"><a href="/destinations/category/africa">Africa</a></li>
								<li class="c2"><a href="/destinations/category/asia">Asia</a></li>
								<li class="c3"><!--<a href="/destinations/category/australasia">Australia and Southern Pacific</a>--></li>
								<li class="c4"><a href="/destinations/category/europe">Europe</a></li>
								<li class="c5"><a href="/destinations/category/north-america">North America</a></li>
								<li class="c6"><a href="/destinations/category/south-america">South America</a></li>
							</ul>
						</div>
					</div>
				</div>

{/if}
{/exp:md_detect_page_type}


			</div>
		</div>
	</div>
{lv_footer}