{embed="includes/metadata"}
{embed="includes/masthead"}



        <section class="row white">
            <section class="col-lg-12">
            	 <div class="page-header">
                    <h1>Blog <small>Subtext for header</small></h1>
                </div>


                <section class="row">
                    <section class="col-lg-8">
                                <div class="blog-span">
                                    <div class="blog-post-featured-img img-overlay">
                                        <img src="media/blog1.jpg" alt=""/>

                                        <div class="item-img-overlay">
                                            <div class="item_img_overlay_content">
                                                <a href="media/blog1.jpg"
                                                   data-rel="prettyPhoto[portfolio]" title="Title goes here">
                                                    <i class="icon-search"></i>
                                                </a>
                                                <a href="">
                                                    <i class="icon-link"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <h2><a href="">Press post Number one</a></h2>
                                    <div class="blog-post-body">
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                        <blockquote>
                                            <p>Lorem ipsum dolor sit amet, in pri offendit ocurreret. Vix sumo ferri an. pfs adodio fugit delenit ut qui. Omittam suscipiantur ex vel,ex audiam intellegat gfIn labitur discere eos, nam an feugiat voluptua.</p>
                                            <div class="block-qoute-by">- John Doe , Author</div>
                                        </blockquote>
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                    </div>
                                    <div class="blog-post-details">
                                        <div class="blog-post-details-item blog-post-details-item-left user-icon">
                                            <a href="">Admin</a>
                                        </div>
                                        <div class="blog-post-details-separator"></div>
                                        <div class="blog-post-details-item blog-post-details-item-left blog-post-details-tags tags-icon">
                                            <a href="">Business</a> ,<a href="">Investment</a> ,<a href="">Freelancing</a>
                                        </div>
                                        <div class="blog-post-details-separator"></div>
                                        <div class="blog-post-details-item blog-post-details-item-left blog-post-details-item-last comments-icon">
                                            <a href="">3 Comments</a>
                                        </div>

                                        <div class="blog-post-details-item blog-post-details-item-right share-article">
                                            <a href="#" class="share-facebook"></a>
                                            <a href="#" class="share-twitter"></a>
                                            <a href="#" class="share-googleplus"></a>
                                            <a href="#" class="share-mail"></a>
                                        </div>
                                    </div>
                                </div>
                    </section>
                    <section class="col-lg-4">



                    </section>




            </section>
        </section>
{lv_footer}