</div><!-- End of Container -->


<!-- Footer -->
<div class="row">
    <footer>
        <div class="container">
            <div class="col-12"><p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; 2013 Company, Inc. &middot; <a href="{path=privacy-policy}">Privacy Policy</a> &middot; <a href="{path=terms-and-conditions}">Terms and Conditions</a></p></div>
        </div>
    </footer>
</div>



<!-- Scripts -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/main.js"></script>


<!-- Tracking Code Google -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{lv_googlecode}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>