<h2>Newsletter</h2>
<p>{lv_newsletter}</p>
<form action="" method="post" id="subForm" role="form">
<fieldset>
<div class="form-group">
<input type="text" name="cm-name" id="name" class="form-control" placeholder="enter your name" />
</div>
<div class="form-group">
<input type="email" name="cm-bihjrh-bihjrh" id="bihjrh-bihjrh" class="form-control" placeholder="enter email address" />
</div>
<button type="submit" class="btn btn-primary btn-block">Sign up</button>
</fieldset>
</form>