{embed="includes/metadata"}
{embed="includes/masthead"}



        <section class="row white">
            <section class="col-lg-12">
            	 <section class="page-header">
                    <h1>FAQ's <small>Subtext for header</small></h1>
                </section>

                <section class="row">
                    <section class="col-xs-12 col-lg-8">
                        <section class="panel-group" id="accordion">
                          {exp:channel:entries channel="faq" limit="22"}
                          <section class="panel panel-default">
                            <section class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="{switch='#1|#2|#3|#4|#5|#6|#7|#8|#9|#10|#11|#12|#13|#14|#15|#16|#17|#18|#19|#20|#21|#22'}">
                                  {question}
                                </a>
                              </h4>
                            </section>
                            <section id="{switch='1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|21|22'}" class="panel-collapse collapse">
                              <section class="panel-body">
                                {answer}
                              </section>
                            </section>
                          </section>
                          {/exp:channel:entries}
                        </section>

                    </section>
                   <section class="col-xs-12 col-lg-3 camel bottpadd pull-right">
                        {ideas}
                        {newsletter}
                   </section>

                </section>
            </section>
        </section>
{lv_footer}








