{embed="includes/metadata"}
{embed="includes/masthead"}

<!-- Main column row -->
<div class="row">
	<div class="col-xs-12 col-lg-12">
		{exp:channel:entries channel="page_sliders" limit="1"}
		{pageslider}
		{/exp:channel:entries}
	</div>
</div>

<div class="container">
  <div class="row">
  <div class="col-md-4">
      <img src="/assets/img/layout/Homepage-Small-pix--THEME.jpg" class="img-responsive" />
  </div>
  <div class="col-md-4">
      <img src="/assets/img/layout/Homepage-Small-pix-SPECIAL.jpg" class="img-responsive" />
  </div>
  <div class="col-md-4">
      <img src="/assets/img/layout/Hompage-Small-pix--DESTINATIONS.jpg" class="img-responsive" />
  </div>
  </div>
</div>


<div class="container">
	<div class="row mt30">
		<div class="col-xs-12 col-md-12">

			<div class="row">
				<div class="col-md-8">

					<div class="row">
						<div class="col-md-12">
							<h2>Welcome to Gourmet on Tour</h2>
							<p class="lead">Since 2000, Gourmet On Tour offers the ultimate in gourmet holidays, designed for people who love and appreciate food and wine providing Cooking Courses, Wine Tours and Culinerary Adventures. Whether half a day, a weekend or a week, we provide over 80 cooking courses, culinary and wine-appreciation adventures across Europe, US, Asia and Morocco.</p>
							<p>We offer a diverse selection of venues deep in the countryside or in the thick of the city, with accommodation ranging from cozy farm houses or urban designer hotels. Each programme and tour is chosen with great care and experience, and we visit each venue personally to ensure a high standard in courses and accommodation. We do this by both partnering with other culinary businesses and producing our own venues.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h2>Tour Destinations <small>Where will you go?</small></h2>
			                        <div id="map-continents">
			                            <ul class="continents">
			                                <li class="c1"><a href="/destinations/category/africa">Africa<br /> - Gourmet safari in South Africa<br />- Explore souks in Morocco</a></li>
			                                <li class="c2"><a href="/destinations/category/asia">Asia<br />- Roll sushi in Japan<br />- Colours and spices of india<br />- Eat your way through China</a></li>
			                                <li class="c3"><a href="/destinations/category/australasia">Australia and Southern Pacific<br />- Yoga spa and spices in Bali</a></li>
			                                <li class="c4"><a href="/destinations/category/europe">Europe<br />- Cook in Tuscany<br />Hot truffles in France<br />- Taste tapas in Spain</a></li>
			                                <li class="c5"><a href="/destinations/category/north-america">North America <br />- Taste wine in California<br />- Make authentic mole in Mexico</a></li>
			                                <li class="c6"><a href="/destinations/category/south-america">South America<br />- Discover perfect ceviche in Peru</a></li>
			                            </ul>
			                        </div>
						</div>
					</div>

				</div><!-- / end of col-8 split -->
				<div class="col-md-4 pull-right">
					<h2>News from the travel experts</h2>
				</div>

			</div>



			<div class="row">
				<div class="col-xs-12 col-lg-12">
					<h2>Featured Tours <small>One's not to miss</small></h2>

					<div class="row">

                            		{exp:channel:entries channel="tours" limit="4" orderby="random" status="featured" dynamic="no"}
                            		<div class="col-md-3">
                                		<div class="feature">
                                    		<div class="img-overlay wrapper">
                                        			<!-- <div class="ribbon-wrapper-green">
                                        				<div class="ribbon-green">NEW</div>
                                        			</div> -->
									{exp:ce_img:single src="{tour-summary_image}" class="img-responsive" }
									<div class="item-img-overlay">
										<div class="item_img_overlay_content">
											<a href="#" data-rel="prettyPhoto[portfolio]" title="Title goes here"><i class="fa fa-search"></i></a>
											<a href="{title_permalink=tours/view}"><i class="fa fa-link"></i></a>
										</div>
									</div>
								</div>
								<div class="feature-content">
                                        			<h3><a href="{title_permalink=tours/view}">{title}</a></h3>
                                  				<ul>
                                      				{tour-summary}
                                      				<li><!-- <i class="fa-li fa fa-asterisk"></i> -->{item}</li>
                                      				{/tour-summary}
                                  				</ul>
                                    		</div>
                                		</div>
                            		</div>
                            		{/exp:channel:entries}

                        	</div>
                    	</div>
			</div><!-- / end row -->

		</div>
	</div><!-- / end of full row -->
</div><!-- / end of container -->

<div class="row mt30">
	<div class="container">
	<div class="col-xs-12 col-lg-12 text-center">
		<h2>What others are saying about us...</h2>
		{exp:channel:entries channel="reviews" limit="1" orderby="random"}
		<blockquote>
			<p> {review-info}</p>
			<p class="small">{review-person}</p>
		</blockquote>
		{/exp:channel:entries}
	</div>
	</div>
</div>






            <!-- Main RIGHT column -->
            <!-- <div class="col-xs-12 col-lg-3 camel bottpadd">
                <div class="row">
                    <div class="col-xs-12 col-lg-12">
                        <h2>Press/Offers</h2>
                        <p>Whether half a day, a weekend or a week, we provide over 80 cooking courses, culinary and wine-appreciation adventures across Europe, US, Asia and Morocco. We offer a diverse selection of venues deep in the countryside or in the thick of the city, with accommodation ranging from cozy farm houses or urban designer hotels.</p>
                        <button type="button" class="btn btn-default btn-block">Find out more &raquo;</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-lg-12">
                        {lv_ideas_code}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-lg-12">
                        {lv_newsletter_code}
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-lg-12">
                            <h2>Recipes</h2>
                            {exp:channel:entries channel="recipes" limit="1" orderby="random"}
                                <h3>{title}</h3>
                                {exp:ce_img:single src="{recipe-image}" class="img-responsive" }
                                {recipe-summary}
                                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                            {/exp:channel:entries}
                            <button type="button" class="btn btn-default">Full recipe details &raquo;</button>

                    </div>
                </div>
            </div> -->
            <!-- End of main right column -->

        <!-- </div> -->



        <!-- <div class="row topmargin toppadd white">
            <div class="col-xs-12 col-lg-12 text-center">
                <blockquote>
                    <h2>As Featured in...</h2>

                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                </blockquote>
            </div>

        </div> -->
        <!-- End of ending row -->


{lv_footer}