{preload_replace:my_channel="pages"}

{embed="includes/metadata" default_title="" default_keywords="" default_description=""}
{embed="includes/masthead"}

	{exp:channel:entries channel="{my_channel}" limit="1" disable="{pv_disable_all}" }
	<article class="main">
		<hgroup>
			<h1>{title}
			<br /><span>{subtitle}</span></h1>
		</hgroup>
		{page-info}
	</article>

	<aside>
	</aside>
	{/exp:channel:entries}

{wrapper_close}
{lv_footer}
{html_close}