{embed="includes/metadata"}
{embed="includes/masthead"}

        <section class="row">
            <section class="col-12">
                <img src="/assets/img/layout/testimage.jpg" class="img-responsive" />
            </section>
        </section>

        <section class="row">
            <section class="col-12">
            	<h1>Privacy Policy</h1>

                <h2>Your details</h2>
                <p>Information we collect about you is not sold, traded or given to any third party, except that information given by you for course registration is provided to the appropriate school.</p>

                <h2>Newsletter registration</h2>
                <p>Information provided during your sign up for our newsletter is retained in our secure database. We do not share this information with anyone else, and it is used only for sending you the newsletter and special promotions related to Gourmet On Tour. If you wish to unsubscribe (and thus remove your details from our database), contact us at newsletter@gourmetontour.com, or else click on the unsubscribe link in the newsletter.</p>
                <p>Tell a friend: All information submitted on the tell-a-friend form is purged from our database. We do not retain it nor do we share it with anyone else.</p>

                <h2>Security of details</h2>
                <p>If paying by credit card, your credit card details are secure. Depending upon the school and class, your credit-card payment will be processed by high-level encryption directly with the bank, in which case Gourmet On Tour never handles the information, or else payment will be processed by the school for which you are registering. In all cases, Gourmet On Tour never retains, sells or shares your payment details with anyone other than the bank and the school.</p>

                <h2>Cookies</h2>
                <p>As hungry as we are for your business, this site neither sends nor receives any cookies, nor do we permit any third-party to plant cookies through our website.</p>

            </section>
        </section>
{lv_footer}