{embed="includes/metadata"}
{embed="includes/masthead"}

        <section class="row">
            <section class="col-12">
                <img src="/assets/img/layout/testimage.jpg" class="img-responsive" />
            </section>
        </section>

        <section class="row">
            <section class="col-12">
                <h1>Terms and Conditions</h1>

                <h2>COPYRIGHT NOTICE</h2>
                <p>This website and all contents are copyright 2000-2013 by Gourmet on Tour Ltd. The design, layout, content and other elements of this website are protected by copyright, trade dress and other laws or imitated in whole or in part. Gourmet On Tour is a registered trademark in the United Kingdom and other countries, and Culinary Adventures is trademarked.</p>
                <p>The information contained in this website is subject to change without notice.</p>

                <h2>THE SMALL PRINT</h2>
                <p>We strive for complete accuracy in our listed dates, prices and other information and details. However, we cannot be held responsible or liable for unintentional published errors regarding information or details of courses or tours. Also, we reserve the right to adjust course prices in the event of substantial currency fluctuations. Courses confirmed by payment of a deposit, of course, are not affected. Prices and dates are subject to change without notice.</p>
                <p>We recommend that you have travel insurance, should you be unable to attend your course and thus lose your deposit, course and accommodation payments, and other travel costs. Gourmet on Tour Ltd. is not liable nor responsible for these losses or costs.</p>
                <p>We and our partner schools reserve the right to withdraw or modify our courses at any time. In circumstances where we are unable to provide the course booked, we will return all monies paid or offer an alternative course.</p>
                <p>Gourmet On Tour Ltd. acts as a booking agent between participants and course operators. Disputes or issues regarding the course are between participants and course operator. We will, of course, work with participants and course operators to resolve any issues.</p>

                <h2>PLEASE READ THESE CONDITIONS OF USE CAREFULLY BEFORE USING THIS SITE.</h2>
                <p>By using this website, you agree to these conditions of use. If you do not agree to these conditions of use, please do not use this site.</p>
                <p>Your agreement to these conditions of use shall be governed by and construed in accordance with the laws of England and/or the United Kingdom, without giving effect to any principles of conflicts of law. If any provision of this agreement shall be deemed unlawful, void or for any reason unenforceable, then that provision shall be deemed severable from this agreement and shall not affect the validity and enforceability of any remaining provisions.</p>
                <p>No material from this website or any website owned, operated, licensed or controlled by Gourmet on Tour may be copied, reproduced, republished, posted, uploaded, transmitted, mirrored, hyperlinked or distributed in any manner without the written permission of Gourmet on Tour.</p>
                <p>You may, however, a) download website materials to a single computer for personal use only b) print copies of material for personal use provided that the printed materials contains Gourmet on Tour copyright notice. Such materials include, without limitation, all HTML and other code, scripts, text, images and sound, including but not limited to wallpaper, icons, art work, photographs, logos, sound, graphics, and text. Modification or use of the materials for any other purpose is a violation of copyrights owned by Gourmet on Tour Ltd or other companies, expressly prohibited by law.</p>
                <p>To the best of our knowledge, information and related graphics published on this or other servers as part of the Gourmet on Tour website have been checked by both Gourmet on Tour and our suppliers or other providers of information and related graphics. However, this information and related graphics may include inaccuracies or typographical errors.</p>
                <p>Gourmet on Tour intends for the information and data contained in the website to be accurate and reliable. However, since the information, related graphics, and data have been compiled by Gourmet on Tour from a variety of sources, including course schools, it is provided to all users "as is."</p>
                <p>At no time and in no event shall Gourmet on Tour be liable for any direct, indirect, special or consequential damages or any damages whatsoever resulting from loss of profits or cost of procurement of substitutes arising out of your use, or the inability to use or access any feature, function, information or related graphics on this website.</p>
                <p>Gourmet on Tour may make and reserves the right to make improvements, changes, additions or deletions in information and related graphics, course descriptions and any other materials published on this website at any time.</p>
                <p>GOURMET ON TOUR EXPRESSLY DISCLAIMS ALL WARRANTIES AND/OR CONDITIONS, EXPRESS OR IMPLIED, AS TO ANY MATTER WHATSOEVER RELATING TO OR REFERENCED BY THE GOURMET ON TOUR WEBSITE, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES AND/OR CONDITIONS OF MERCHANTABILITY OR SATISFACTORY QUALITY AND FITNESS FOR A PARTICULAR PURPOSE AND NON INFRINGEMENT.</p>

                <h2>Links to or from Third-Party Websites</h2>
                <p>There may be links (hyperlinks) on this website that will connect you to another website, or links to this site from third-party websites. Gourmet on Tour makes no representation whatsoever regarding the content of any other websites that you may access to or from the Gourmet on Tour website. These links are provided only as a courtesy by Gourmet on Tour and the inclusion of any links does not necessarily imply endorsement by Gourmet on Tour of the site or its contents. When you access a non-Gourmet on Tour website, please understand that it is independent from Gourmet on Tour and that Gourmet on Tour has no control over the content on that website. Gourmet on Tour does not accept any responsibility for the content or use of linked non-Gourmet on Tour websites.</p>
                <p>Gourmet on Tour shall have no liability for any claims brought by the owners of any linked site or content accessed through a linked site based upon your unlawful access of these linked sites or their content. Your usage of this website indicates your agreement to indemnify Gourmet on Tour for any claims brought against Gourmet on if you knowingly used this website for such access.  </p>

            </section>
        </section>
{lv_footer}