/* */

body        { font-family: "ff-tisa-web-pro",sans-serif; font-weight: 300; background:  url(/assets/img/layout/darkgrain.png) repeat ; padding-top: 0px; color: #6A6A6A;}
footer      {  background: rgba(0,0,0, .3); margin-top: 50px; }
aside       {  }
header { margin: 10px 0 10px 0; }


/* Typography */
h1, h2, h3,
h4, h5, h6  { font-family: "katarine-web",sans-serif; font-weight: 400; }
h1, h2, h3  { }
h1          { line-height: 34px; margin-bottom: 12px;}
h2          { margin: 20px 0 10px 0; color: #B6952C; font-size: 32px; }
h3          { color: #B6952C; margin: 0 0 4px 0; font-weight: 300; font-family: "proxima-nova",sans-serif; font-size: 20px; }
h4          { color: #000; margin: 0; font-weight: 400 }
h5          { }
h6          { }

h1 small    { }
h2 small    { }
h3 small    { }
h4 small    { }

p           {  }
li          { }

.lead {
  font-size: 21px;
}

.mt30 {
  margin-top: 30px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb15 {
  margin-bottom:15px;
}


/* Links */
a:link, a:visited { text-decoration: none ;
color: #B6952C;}
a:hover,
a:visited:hover { color: #000; }

footer a:link,
footer a:visited { color: #fff; }

/* Images */
img         { }

/* Colours */
.grey { background: #dedede;  }
.green { background: #c0b4a0; color: #fff; }
.white { background: #fff;  }
.camel { background: #dfddd2; }
.cream { background: #f0eee4;}

/* Nav */
.navbar { margin-top: 20px; border-radius: 0; font-size: 16px; background: rgba(0,0,0, .17); margin-bottom: 0px; border: none; box-shadow: none; font-family: "ff-tisa-web-pro",sans-serif; font-weight: 300 }
.navbar .nav > li { }
.navbar .nav > li > a { color: #fff ; padding-right: 16px; padding-left: 16px; text-transform: uppercase }
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover { color: #fff;   background: rgba(0,0,0, .17); }

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
/* background:  url(/assets/img/layout/darkgrain.png) repeat ; */
  background: rgba(0,0,0, .17);
  color: #fff;
/*   background: #cacaca; */
/*   background: #B6952C; */
}
.navbar .nav,
.navbar .nav > li { }

.form-horizontal { margin-top: 50px }


footer {  padding: 20px 0 40px; color: #fff; }
.nogutter { margin-left: 0;  }

.btn-primary { background: #9d0c0b; border: none; }

.main { margin-bottom: 60px; padding-bottom: 20px; }
.top { margin-bottom: 20px; }

.topmargin { margin-top: 30px; }
.toppadd { padding-top: 20px; }
.bottpadd { padding-bottom: 20px; }
.botmarg { margin-bottom: 30px; }
.thumbnail { padding:0; border-radius: 0 }
/*.container {  padding-right: 20px; padding-left: 20px;  }*/



html {
  width: auto !important;
  overflow-x: hidden !important;
}
body {
  width: auto !important;
  overflow-x: hidden !important;
}


blockquote h2 {margin-top: 0 }

/* Tour Block */
.tourblock { margin-bottom: 20px; }
.tourblock .thumbnail { background: #dedede; border: 0; }
.tourblock .caption { padding: 0; border: 0; }
.tourblock h3 { background: #9d0c0b; color: #fff; padding: 10px; margin-top: -2px; font-size: 18px }
.tourblock .thumbnail:hover { cursor: pointer; }
.tourblock .thumbnail:hover h3 { background: #000; }
.tourblock h3 a:link,
.tourblock h3 a:visited { color: #fff;}
.tourblock ul.icons-ul { margin: 0; margin-left: -10px; padding-bottom: 10px; font-size: 13px;}
.tourblock .icons-ul li { list-style-position: inside;   }

.tel { margin-top: 32px }
.tel p { font-size: 18px; line-height: 22px; padding: 0; font-weight: 300 }

.caption { min-height: 154px;}


/* Tours */
/******************************************/

.feature {
/*     box-shadow: 0 0 3px rgba(0, 0, 0, 0.25); */
}

.feature .feature-content {
    border-top: 6px solid #B6952C;
    padding: 12px;
    background: #fff;
}

.feature-content ul { margin: 0; padding-left: 17px; }

.horiz .feature .feature-content {
    border-top: none;
    padding: 22px 0 15px 15px;
}


.feature .feature-details {
    border-top: 1px solid rgb(232, 232, 232);
    padding-top: 5px;
}
.feature .feature-details i {
    margin-right: 5px;
}
.feature .feature-details i:hover {
    text-decoration: none;
}
.feature .feature-details a {
    display: inline-block;
}
.feature .feature-details a:hover {
    text-decoration: none;
}
.feature .feature-details .details-seperator {
    border-right: 1px solid rgb(233, 233, 233);
    height: 15px;
    margin: 0 10px;
}
.feature .feature-details .feature-share {
    float: right;
}

.img-overlay {
    background-position: 0 150px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 100%;
    position: relative;
    width: 100%;
}

.horiz .img-overlay {
    border-left: 10px solid #9d0c0b;
}




.img-overlay img {
    width: 100%;
}

.img-overlay:hover .item-img-overlay, .img-overlay.hover_effect .item-img-overlay {
    opacity: 1;
}

.item-img-overlay {
    -moz-box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all 500ms ease 0s;
    width: 100%;
}

.item-img-overlay .item_img_overlay_content {
    left: 0;
    margin-top: -20px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.item-img-overlay a:hover {
    text-decoration: none;
}
.item-img-overlay a {
    background-color: rgba(0, 0, 0, 0.44);
    border-radius: 50%;
    color: rgb(255, 255, 255) !important;
    display: inline-block;
    margin: 0 0 0 10px;
    padding: 10px 14px;
    position: relative;
    transition: all 500ms ease 0s;
}

.item-img-overlay a.social-media-icon {
    margin: 0 !important;
}
.item-img-overlay a:first-child {
    left: -1000px;
}
.item-img-overlay a:last-child {
    left: auto;
    right: -1000px;
}
.item-img-overlay:hover a:first-child, .item-img-overlay.hover_effect a:first-child {
    left: 0;
}
.item-img-overlay:hover a:last-child, .item-img-overlay.hover_effect a:last-child {
    right: 0;
}
.item-img-overlay a:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(255, 255, 255) !important;
}


.wrapper {
  margin: 0 auto 0 auto;
  position: relative;
  z-index: 90;
}

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: bold 15px;
  font-weight: 700;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #9d0c0b;
  color: #fff;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}​


ol.breadcrumb {
  margin-bottom: 0;
}

.page-header {
margin-top: 0;
}



.catimg {
 margin-bottom: 20px;
}


hr {
    border:0;
    margin:60px 0;
    border-top:#ddd 1px dotted;
}
    hr.half-margins {
        margin:30px 0 10px 0;
    }