{embed="includes/metadata"}
{embed="includes/masthead"}


{exp:md_detect_page_type url_segment="{segment_2}"}
{if category_page}


	{exp:channel:category_heading channel="tours" }
		{if category_image}
		<div class="row">
			<div class="col-xs-12 col-lg-12">
				<img src="{category_image}" class="img-responsive" alt="" />
			</div>
		</div>
		{/if}

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="page-header">
						<h1>{category_name} <small> tours</small></h1>
					</div>

					<div class="row mb30">
						<div class="col-xs-12 col-sm-12">
							{if category_description}
							<p>{category_description}</p>
							{/if}

	{/exp:channel:category_heading}

							<div class="row">
						{exp:channel:entries channel="tours"  orderby="date" sort="asc" status="open|featured"  }
							{if no_results}
							<div class="col-xs-12 col-md-12">
								<p>Sorry there are currently no tours avilable to this destination.</p>
							</div>
							{/if}
							<div class="col-md-4">
                              				<div class="feature">
                                  				<div class="img-overlay wrapper">
										{exp:ce_img:single src="{tour-summary_image}" class="img-responsive" }
										<div class="item-img-overlay">
											<div class="item_img_overlay_content">
												<a href="#" data-rel="prettyPhoto[portfolio]" title="Title goes here"><i class="fa fa-search"></i></a>
												<a href="{title_permalink=tours/view}"><i class="fa fa-link"></i></a>
											</div>
										</div>
									</div>
									<div class="feature-content">
                                      					<h3><a href="{title_permalink=tours/view}">{title}</a></h3>
                                						<ul>
	                                      				{tour-summary}
	                                      				<li><!-- <i class="fa-li fa fa-asterisk"></i> -->{item}</li>
	                                      				{/tour-summary}
                                						</ul>
                                  				</div>
                              				</div>
                          				</div>
						{/exp:channel:entries}
						</div>
						</div>
					</div>

				</div>
			</div>
		</div>



{if:else}

<div class="row">
	<div class="col-xs-12 col-lg-12">
		{exp:channel:entries channel="page_sliders" limit="1"}
		{pageslider}
		{/exp:channel:entries}
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">

			<div class="page-header">
				<h1>Tours <small>type of tour?</small></h1>
			</div>

			<div class="row mb30">
				<div class="col-xs-12 col-sm-12">
					<p>We offer a diverse selection of venues deep in the countryside or in the thick of the city, with accommodation ranging from cozy farm houses or urban designer hotels. Each programme and tour is chosen with great care and experience, and we visit each venue personally to ensure a high standard in courses and accommodation. We do this by both partnering with other culinary businesses and producing our own venues.</p>
					<div class="row">
					{exp:gwcode_categories style="linear" group_id="2" entry_count="yes" depth="1" parse="inward" show_empty="yes" }
						<div class="col-md-6 ">
							<h2><a href="{path="tours/category/{cat_url_title}"}" title="{title}">{cat_name}</a> <small>slogan or subtitle</small></a></h2>
							<a href="{path="tours/category/{cat_url_title}"}" title="{title}"><img src="{cat_image}" class="img-responsive mb15" alt="" /></a>

							<!-- <p>{cat_description}</p> -->

							<p>Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. </p>

						</div>
					{/exp:gwcode_categories}
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

{/if}
{/exp:md_detect_page_type}














{lv_footer}