{embed="includes/metadata"}
{embed="includes/masthead"}

        <section class="row white">
            <section class="col-xs-12 col-lg-12">

                <section class="row toppadd">
                    <section class="col-lg-12">
                        <ol class="breadcrumb">
                        {exp:crumbly:breadcrumbs custom_url:pattern='template_group/ignore/entry/'}
                            <li><a href="{breadcrumb_url}">{breadcrumb_title}</a></li>
                        {/exp:crumbly:breadcrumbs}
                        </ol>
                    </section>
                </section>

                {exp:channel:entries channel="tours" status="featured|open"}

                {if tour-collage}
                <section class="row">
                    <section class="col-lg-12 catimg">
                        {exp:ce_img:single src="{tour-collage}" class="img-responsive" }
                    </section>
                </section>
                {/if}

                <div class="page-header">
                    <h1>{title} <small>{tour-location}</small></h1>
                </div>

                <section class="row">
                    <section class="col-xs-12 col-lg-8">

                        <p class="lead">{tour-leadpara}</p>


                        <h2>Overview</h2>
                        {tour-overview}

                        <h2>The Course/Your Host</h2>
                        {tour-host}

                        <!--{tour-relatedrecipes}
                        {tour-slider}
                        {tour-images}-->

                        <h2>Location</h2>
                        {tour-area}

                        {if tour-accommodation}
                        <h2>Accomodation - Brian</h2>
                        {tour-accommodation}
                        {/if}

                        {if tour-extra}
                        <h2>Extras</h2>
                        {tour-extra}
                        {/if}

                        {if tour-highlights}
                        <h2>Highlights</h2>
                        {tour-highlights}
                        {/if}

                        {if tour-awards}
                        <h2>Awards</h2>
                        {tour-awards}
                        {/if}

                        <h2>Getting there</h2>
                        {tour-travel}


                        <h2>Itinerary</h2>
                        <ul class="nav nav-tabs">
                          <li class="active"><a href="#">Day 1</a></li>
                          <li><a href="#">Day 2</a></li>
                          <li><a href="#">Day 3</a></li>
                        </ul>


                        {tour-itinerary}
                            <h3>{tour-itinerary-day}</h3>
                            <p>{tour-itinerary-list}</p>
                        {/tour-itinerary}





                    </section>
                    <section class="col-xs-12 col-lg-4 camel">
                        {tour-gallery limit="1"}
                        {exp:ce_img:single src="{tour-img}" class="img-responsive" }
                        {/tour-gallery}

                        <h2><small>from</small> {tour-pricefrom}</h2>

                        <p>Duration: {tour-duration}</p>

                        {tour-summary}
                        <h3>Price Includes</h3>
                        {tour-priceincludes}

                        {if tour-priceexcludes}
                        <h3>Price Excludes</h3>
                        {tour-priceexcludes}
                        {/if}


                        <h3>Recommended for</h3>
                        {tour-recommended}


                    </section>
                </section>
                {/exp:channel:entries}

            </section>
        </section>
{lv_footer}