    {embed="includes/metadata"}
{embed="includes/masthead"}


        <section class="row white">
            <section class="col-xs-12 col-lg-12">

                <div class="page-header">
                    <h1>Offers <small>Subtext for header</small></h1>
                </div>

                <section class="row">
                    <section class="col-xs-12 col-lg-8">

                    </section>

                    <section class="col-xs-12 col-lg-3 pull-right camel">

                    </section>
                </section>
            </section>
        </section>
{lv_footer}