    {embed="includes/metadata"}
{embed="includes/masthead"}


        <section class="row white">
            <section class="col-xs-12 col-lg-12">

                <div class="page-header">
                    <h1>About Gourmet on Tour <small>Subtext for header</small></h1>
                </div>

                <section class="row">
                    <section class="col-xs-12 col-lg-8">
                        <h2>Our Offerings</h2>
                        <p class="lead">Since 2000, Gourmet On Tour offers the ultimate in gourmet holidays, designed for people who love and appreciate food and wine. Whether half a day, a weekend or a week, we provide over 80 cooking courses, culinary and wine-appreciation adventures across Europe, US, Asia and Morocco. We offer a diverse selection of venues deep in the countryside or in the thick of the city, with accommodation ranging from cozy farm houses or urban designer hotels. Each programme and tour is chosen with great care and experience, and we visit each venue personally to ensure a high standard in courses and accommodation. We do this by both partnering with other culinary businesses and producing our own venues.</p>
                        <p>For guests wanting to join a group of fellow foodies, we offer a range of scheduled courses throughout the year. For the independent traveller, tell us where and when and we will tailor-make your adventure.</p>
                        <p>Our chefs are prepared for both the eager novice and the experienced home cook. The atmosphere lends itself to learning and participation leavened with fun!</p>
                        <p>We also specialise in corporate events. Whether it is a team-building retreat or executive getaway, you will benefit from our access to wonderful and lesser known locations. We have had the pleasure to organise private events for Michelin, Waitrose, BNP Paribas, Accenture and clients such as American Express Black card members.</p>
                        <p>Gourmet On Tour chooses only the very best, so you experience only the very best.</p>

                        <h2>Our Philosophy</h2>
                        <p>Our goal is to create one-of-a-kind experiences for foodies who want to see the world a little differently. Each location is selected for its character and individuality, to make you feel at home and gain a genuine feel for the region as an invited guest and not as a tourist. Each route is carefully designed to immerse you in the local culture and reveal a region’s true spirit. After all, great travel is about experiencing and meeting locals.</p>
                        <p>There will be always amazing food, whether you are cooking with a Michelin-starred chef in France or preparing a feast with a local mamma in a Tuscan farmhouse. For us, it’s all about the experience. And it’s not all luxury all the time. Rather, it’s a mix that allows you to sample both a region’s most refined cuisine and its most rustic traditions.</p>
                        <p>We can arrange unique encounters our travellers couldn’t have on their own – from private cooking classes to access of exclusive wine cellars.</p>

                        <h2>Our Press</h2>
                        <p>Since we took our first customer, we have been blessed with press coverage around the world. UK: BBC, Observer Food Monthly, The Independent, Sunday Times, The Guardian, The Telegraph, Waitrose Magazine, Food and Travel, Sunday Express, The Times. US: The Los Angeles Times, Travel + Leisure. Australia: Gourmet Traveller, The Age. Netherlands: Elle. Italy: Elle. Singapore: The Peak, Wine & Dine. For further reading, please view our press section.</p>

                        <h2>Our Location</h2>
                        <p>Gourmet On Tour Ltd. is a UK-registered company, privately owned and based in London:</p>
                        <address>
                        Gourmet On Tour Ltd.
                        28 Old Brompton Road, Suite 828
                        London SW7 3SS
                        United Kingdom
                        </address>
                        <p>info@gourmetontour.com</p>
                        <p>UK Tel: +44 20 7558 8796</p>
                        <p>USA Tel: +1 646 461 6088</p>


                        <p>Kindly noe that our operations office is in London and therefore we are five hours ahead of EST.  Our office is open Monday - Saturday from 6:00am to 3:00pm.</p>
                        <p>If you wish to be called back, please send us an email with your number and a time convenient for you.</p>
                        <p>U.K. Registration Number: 4027078</p>
                        <p>Gourmet On Tour is a registered trademark</p>
                    </section>

                    <section class="col-xs-12 col-lg-3 pull-right camel">
                        <h2>Founder and Marketing Manager</h2>

                        {exp:ce_img:single src="/assets/img/content/uploads/Judith_von_Prockl-Gourmet_On_Tour.jpg" class="img-responsive" }

                        <p>Judith von Prockl established Gourmet On Tour in 2000, was born in Germany. Her passion for cuisine was nourished by living and working in Singapore, Kuala Lumpur, Mexico, Los Angeles, San Francisco, Paris, Shanghai and London.</p>
                        <p>Judith earned a degree in business administration and began her career with advertising agency Lowe Lintas.  Before Gourmet On Tour, Judith worked in book and magazine publishing at Insight Guides/Apa Travel guides and in international marketing at Amazon.co.uk in London.</p>
                        <p>During her journey she has developed strong relationships with hotel owners, chefs and cooking instructors, food artisans and producers, wine guides and tourism agencies, which enables her to provide unique services all over the world and offer insider's information to all our travellers.  Judith curiosity is endless and she is always on the hunt for new and interesting places to explore and savour.</p>
                        <p>In 2011, Judith was honoured winner of the Award of Excellence, an award given by the IACP (International Association for Culinary Professionals) for the extraordinary contributions and commitment to the culinary field.</p>
                    </section>
                </section>
            </section>
        </section>
{lv_footer}