{embed="includes/metadata"}
{embed="includes/masthead"}



        <section class="row white">
            <section class="col-xs-12 col-lg-12">
            	 <div class="page-header">
                    <h1>Contact us <small>Subtext for header</small></h1>
                </div>

                <section class="row">
					<section class="col-xs-12 col-lg-8">

						<p>{lv_contactintro}</p>

						<p>Need an idea and inspiration? Looking for something tailor-made?</p>
						<p>If you simply like to be inspired, we would love to send you some suggestions.</p>
						<p>If you can't find your perfect trip or desired destination, or or are looking for something a little different from the norm, we would also love to put together that perfect gourmet experience for you. First of all, we’d like to get to know you better. The more we know about you and your tastes, the better equipped we’ll be to suggest or create the perfect itinerary for you.</p>
						<p>Tell us where you want to go, how long for and when, how many people are in your party.</p>
						<p>Are you celebrating anything special – or just enjoying a getaway?</p>
						<p>Do you prefer your own privacy or rather join a group?</p>
						<p>How intensively do you wish to cook?  Are you interested in wine only?  Or a medley of both?</p>
						<p>Finding the right balance:  how much time is free time?  Should every evening be planned, or do you want a few nights left at leisure? How much structure should each day have?  Are sight-seeing and cultural excursions important to you?</p>
						<p>Our team has both the expertise and resources to recommend or design trips with just the right balance of gourmet experiences, cultural enrichment and relaxation—or whatever balance you tell us you're looking for.</p>


						{exp:freeform:form form_name="contact" return="contact/thank_you" form:class="form-horizontal"  }
						<fieldset>
						<section class="form-group">
							<label class="col-lg-3 control-label" for="name">Name: <em>*</em></label>
							<section class="col-lg-8">
								<input type="text" id="name" placeholder="your name" class="form-control">
							</section>
						</section>
						<section class="form-group">
							<label class="col-lg-3 control-label" for="email">Email Address: <em>*</em></label>
							<section class="col-lg-8">
								<input type="email" id="email" placeholder="email address" class="form-control">
							</section>
						</section><section class="form-group">
							<label class="col-lg-3 control-label" for="telephone">Telephone: <em>*</em></label>
							<section class="col-lg-8">
								<input type="tel" id="telephone" placeholder="your telephone" class="form-control">
							</section>
						</section>
						<section class="form-group">
							<label class="col-lg-3 control-label" for="user_message">Your Enquiry: <em>*</em></label>
							<section class="col-lg-8">
								<textarea rows="3" id="user_message" placeholder="your enquiry" class="form-control"></textarea>
							</section>
						</section>
						<section class="form-group">
							<label class="col-lg-3 control-label"></label>
							<section class="col-lg-8">
									<button type="submit" class="btn btn-primary">Send Enquiry</button>
							</section>
						</section>
						</fieldset>
						{/exp:freeform:form}

					</section>

					<section class="col-xs-12 col-lg-3 pull-right camel">
						{ideas}
						<p>Just let us know:  ideas@gourmetontour.com</p>
						<p>Request a call back from one of our travel specialists:  ideas@gourmetontour.com</p>
						<p>Make sure to leave your phone number, location and best time to call.</p>
						{newsletter}
					</section>

                </section>

            </section>
        </section>
{lv_footer}